html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
      margin: 20px;
  }
  h2, h3 {
      font-size: medium;
  }
  h1 {
      font-size: large;
  }